@media only screen and (max-width: 1200px) {
  .content-box {
    width: 100vw;
    margin: 0 1rem;
  }
  .hero-title {
    font-size: 50px;
    line-height: 72px;
  }
  .hero-description {
    font-size: 20px;
    line-height: 34px;
  }
  .join-us-container {
    width: calc(100vw - 60px);
    left: 1.5rem;
  }
}

@media only screen and (max-width: 1024px) {
  .content-box {
    width: 100vw;
    margin: 0 1rem;
  }
  .nav-menu-list {
    gap: 2rem;
    padding: 5px;
  }
  .hero-title {
    font-size: 42px;
    line-height: 60px;
  }
  .hero-description {
    font-size: 16px;
    line-height: 28px;
  }
  .learning-process {
    margin-top: 100px;
  }
  .join-us-container {
    width: calc(100vw - 60px);
  }
  .join-us-form-btn {
    width: 100%;
  }
  .footer-media-box {
    gap: 1rem;
  }
  .footer-email {
    padding-right: 1.5rem;
  }
  .not-found-title {
    font-size: 60px;
    line-height: 1.25;
    font-weight: 600;
  }
  .not-found-image img {
    width: 400px;
  }
}
@media only screen and (max-width: 950px) {
  .card {
    flex-direction: column;
    gap: 0;
  }
  .card-content {
    justify-content: start;
  }
  .card-review {

  }
}
@media only screen and (max-width: 820px) {
  h3 img {
    height: 30px;
  }
  .nav-menu-list {
    gap: 1rem;
  }
  nav-menu-item {
    font-size: 18px;
  }
  .not-found-image img {
    width: 300px;
  }
  .not-found-description {
    font-size: 20px;
    line-height: 1.25;
    font-weight: 500;
  }
  .redirect-button {
    font-size: 20px;
    font-weight: 600;
    min-width: 300px;
  }
}

@media only screen and (max-width: 768px) {
  .navigation {
    display: none;
  }
  .menu-mobile {
    display: block;
  }
  /* burger menu */
  .hamburger {
    position: fixed;
    z-index: 100;
    top: 2.7rem;
    right: 7rem;
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: transparent;
  }
  .menu-icon.material-icons.md-light {
    color: #fef4f9;
    background-color: #230040;
    font-size: 36px;
  }
  .close-icon.material-icons.md-light {
    color: #230040;
    background-color: #b396bc;
    font-size: 36px;
  }
  .close-icon {
    display: none;
  }
  .menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.3s;
    top: -16px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    list-style: none;
    background-color: #b396bc;
    height: 300px;
  }
  .show-menu {
    transform: translateY(0);
    padding-top: 3rem;
  }
  .hamburger .show-menu {
    color: #230040;
    background-color: #fef4f9;
  }
  .menu-item {
    font-size: 1.5rem;
    line-height: 3rem;
  }
  .menu-item a {
    color: #230040;
    text-decoration: none;
  }
  .menu-item a:hover {
    text-decoration: underline;
    color: #fef4f9;
  }

  .hero-container {
    flex-direction: column-reverse;
    margin: 0 1rem;
  }
  .hero-description {
    font-size: 16px;
    line-height: 28px;
  }
  .hero-image {
    width: auto;
    height: 200px;
    margin: 0 auto;
  }
  .btn-group {
    margin: 0 1rem;
  }
  .hero-btn-join {
    width: 250px;
  }
  .learning-process,
  .about-us {
    margin-top: 100px;
  }
  .our-courses,
  .teachers {
    margin-top: 30px;
    padding-bottom: 0;
  }
  .questions {
    padding-top: 50px;
  }
  .our-courses-container {
    flex-direction: column;
  }
  .our-courses-item {
    width: 95%;
    margin: 0;
  }
  .join-us-container {
    flex-direction: column;
    top: 20%;
    padding-left: 1rem;
    width: calc(100vw * 2 - 20px);
  }
  .join-us-form-box {
    padding-top: 0;
  }
  .join-us-text {
    margin: 0;
  }
  .about-us-container {
    flex-direction: column;
    justify-content: center;
  }
  .about-us-content,
  .hero-content {
    width: 100%;
  }
  .about-us-image {
    width: 100%;
    margin-top: 0;
    display: flex;
  }
  .about-us-image img {
    width: 320px;
    margin: 0 auto;
  }
  .learning-process-title,
  .our-courses-title,
  .join-us-title,
  .about-us-title,
  .teachers-title,
  .questions-title {
    font-size: 30px;
    line-height: 1.55;
    font-weight: 900;
    line-height: 50px;
    margin-bottom: 0;
  }
  .learning-process-description,
  .our-courses-description,
  .join-us-description {
    margin-top: 0;
    font-size: 18px;
    line-height: 28px;
    line-height: 1.55;
    font-weight: 600;
  }
  .learning-process-item-description,
  .our-courses-item-description,
  .our-courses-tag,
  .about-us-description,
  .join-us-text,
  .checkbox-label span {
    font-size: 16px;
    line-height: 20px;
    line-height: 1.7;
    font-weight: 500;
  }
  .footer-container {
    padding: 0;
  }
  .footer-media-box {
    flex-direction: column;
    gap: 0;
  }
  .not-found-container {
    flex-direction: column;    
  }
  .not-found-content {
    text-align: center;
  }
}
@media screen and (max-width: 620px) {
  .teachers-item {
    flex-direction: column;
  }
  .teachers-description-box {
    gap: 0;
    margin-left: 0;
  }
  .teachers-hr {
    height: 0;
    border: none;
  }
}

@media only screen and (max-width: 575px) {
  .join-us-form-btn {
    width: 320px;
  }
  .hero-title {
    font-size: 36px;
    line-height: 50px;
  }
  .btn-group {
    flex-direction: column;
    gap: 1rem;
  }
  .join-us-container {
    top: 10%;
  }
  .footer-container {
    flex-direction: column;
  }
  .footer-media-list {
    padding: 0;
  }
}

@media screen and (max-width: 460px) { 
  h3 img {
    height: 24px;
  }
}

@media only screen and (max-width: 432px) {
  .content-box {
    padding: 10px;
    margin: 0 10px;
  }
  .hamburger {
    right: 5.5rem;
  }
  .hero-title {
    font-size: 30px;
    line-height: 42px;
  } 
  .our-courses-tags-box {
    flex-direction: column;
    gap: 0;
  }
  .join-us-form-btn {
    width: 280px;
    margin-top: -30px;
  }
  .teachers-btn-see-all {
    width: 300px;
  }
  .not-found-title {
    font-size: 36px;
    line-height: 1.25;
    font-weight: 600;
  }
  .not-found-image img {
    width: 280px;
  }
  .redirect-button{
    min-width: 260px;
  }
  .join-us-form input {
    height: 45px;
  }
}
