.reviews {
  position: relative;
  z-index: 2;
  background-color: #fef4f9;
  padding-bottom: 100px;
}

.reviews::after {
  content: "";
  width: 100%;
  position: absolute;
  background: inherit;
  bottom: 1px;
  left: 0;
  right: 0;
  z-index: -2;
  transform-origin: right bottom;
  transform: skewY(-3.6deg);
  height: 100%;
}

.reviews-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 3rem;
  position: relative;
  z-index: 2; 
  /* margin-top: 80px; */
}

.reviews-title {
  font-size: 45px;
  line-height: 1.55;
  font-weight: 900;
  line-height: 70px;
  margin-bottom: 0;
  margin-top: 0;
}

.left-img {
  float:left;
  margin: 1rem 1rem 1rem 0;
}

.right-img  {
  float: right;
  margin: 1rem 0 1rem 1rem;
}

.create-line {
  width: 100%;
  border-top: 3px solid #230040;
  margin: 2rem 0;
}

.review {
  display: block;
  height: max-content;
}

.review-description {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: justify;
  text-indent: 2rem;
}

.reviewer-name {
  font-size: 22px; 
  font-weight: 600;
  line-height: 26px;
  text-decoration: none;
  color: #230040;
  text-align: center;
}

.space2 {
  height: 150px;
  background-color: #230040;
}